// #0476D9
// #F23005
// #009AF4
// #8AE3DD
// #FFD204
// #000732
// button color: #212b71

.card-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;

}

mat-card {
    margin: 5%;
}

img {
    width: 100%;
    transition: 0.5s;
}

img:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media(max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 425px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}