<div class="profile-container">
    <header>
        <button (click)="navigateHome()">Home</button>
    </header>
    <div class="profile-content-container">
        <div class="">
            <h1> 's Domain</h1>
            <p>status</p>
        </div>
    
        <div>
            <div>Change username</div>
            <div>Change email</div>
            <div>Change password</div>
            <div>Change birthday</div>
        </div>
    
        <div>
            <h1>Favorite movies: </h1>
            <button mat-raised-button>Add movie</button>
            <button mat-raised-button>Delete movie</button>
        </div>

    </div>




</div>